.App {
  text-align: center;
}

.App-header {
  background-color: #747b88;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  color: #FFFFFF;
  text-shadow: 4px 3px 0 #444040;
  color: #FFFFFF;
}

p {
  width: 40%;
}

a{
  color: rgb(24, 15, 143);
}